pandas cheat sheet: https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

pandas data structures: http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro

clone repo: https://github.com/rudeboybert/JSE_OkCupid

In [34]:
import numpy as np
import pandas as pd

## Question 1: Print files in current working directory using command line tools.
With Jupyter notebooks, you have access to your kernel if you preface your command with an exclamation point. Using command line, print out all files in your current working directory.

In [2]:
!ls

2017-03-15_Pandas-starter-code-vince.ipynb
2017-03-15_Pandas-starter-code.ipynb
2017-03-15_Pandas.ipynb

## Question 2: Print out the path to your current working directory.

In [3]:
!pwd

/Users/revit/general_assembly_git/DS-SF-33/lessons/02/notebooks

## Question 3: Print out files in the data folder. The data folder lives in the same directory as the lessons folder. Use "../" to list files in the data folder.

In [4]:
!ls ../data

dataset-02-ozone.csv okcupid_codebook.txt

## Question 4: Read documentation for panda's pd.read_csv() command using the command pd.read_csv?

In [2]:
import pandas
pandas.read_csv?

## Question 5: Read the csv file into a DataFrame, using panda's pd.read_csv() command.

In [3]:
okdata = pandas.read_csv('../data/profiles.csv')
# okdata.head()

## Question 6: Print out the top 5 rows of the DataFrame, using df.head() command.

In [14]:
okdata.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

## Question 7: How many rows are in the data frame?

In [16]:
okdata.shape
# There are 59946 rows in the dataframe

(59946, 31)

## Question 8: What are the names of the rows?

In [30]:
# each row is a profile observation, but the rows aren't labelled with anything more than a number
okdata.index.names
print('row names: ',okdata.index.get_values())

row names:  [    0     1     2 ..., 59943 59944 59945]

## Question 9: What type of index is the row index?

In [30]:
okdata.index
# The rows index for this data is a general range index.

RangeIndex(start=0, stop=59946, step=1)

## Question 10: Print out the column/feature names.

In [16]:
okdata.columns

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0',
       'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')

## Question 11: Print out the data types of the columns (using attribute dtypes).

In [12]:
#okdata.columns.tolist()
#okdata['age'].dtype
col_list = okdata.columns.tolist()
for cname in col_list:
    if len(cname) < 8:
        print (cname,'\t\t', okdata[cname].dtype)
    else:
        print (cname,'\t', okdata[cname].dtype)

age 		 int64
body_type 	 object
diet 		 object
drinks 		 object
drugs 		 object
education 	 object
essay0 		 object
essay1 		 object
essay2 		 object
essay3 		 object
essay4 		 object
essay5 		 object
essay6 		 object
essay7 		 object
essay8 		 object
essay9 		 object
ethnicity 	 object
height 		 float64
income 		 int64
job 		 object
last_online 	 object
location 	 object
offspring 	 object
orientation 	 object
pets 		 object
religion 	 object
sex 		 object
sign 		 object
smokes 		 object
speaks 		 object
status 		 object

## Question 12: Print out the last 3 rows of df, using .tail() command. Read documentation to specify number of rows to view.

In [62]:
okdata.tail(3)

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
59943,42,average,mostly anything,not at all,never,graduated from masters program,"hello! i enjoy traveling, watching movies, and...","i'm a civil engineer, who enjoys helping the c...",- looking at things objectively<br />\n- getti...,i'm quiet until i get used to the environment ...,...,"south san francisco, california",doesn&rsquo;t have kids,straight,NaN,christianity but not too serious about it,m,sagittarius but it doesn&rsquo;t matter,no,english (fluently),single
59944,27,athletic,mostly anything,socially,often,working on college/university,"""all i have in this world are my balls and my ...","following my dreams...<br />\n""you got a dream...",listening,it used to be the hair until i mowed it off bu...,...,"san francisco, california","doesn&rsquo;t have kids, but wants them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,leo and it&rsquo;s fun to think about,trying to quit,"english (fluently), spanish (poorly), chinese ...",single
59945,39,average,NaN,socially,NaN,graduated from masters program,"is it odd that having a little ""enemy"" status ...",i work with elderly people (psychotherapy and ...,i'm a great bullshitter. i don't know what it ...,"either that i am funny/sarcastic, or that i am...",...,"san francisco, california",NaN,gay,likes dogs and likes cats,catholicism and laughing about it,m,gemini and it&rsquo;s fun to think about,sometimes,english,single

# Question 13: Using describe command, view a quick summary of the numeric data within the data frame.

In [68]:
okdata.describe()
# describe only shows these three columsn since they are int, float and int.
# the other columns are of type object and can't be summarized numerically, in this way.

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

## Question 15: Put the result of the describe command into a variable, df2. What type is df2?

In [17]:
df2 = okdata.describe()
type(df2)
# d2 is a DataFrame.

pandas.core.frame.DataFrame

## Quesiton 16: What are the row names and column names of df2?

In [33]:
print ("Column Names:\t",df2.columns.get_values())
print ("Row Names:\t",df2.index.get_values())

Column Names:	 ['age' 'height' 'income']
Row Names:	 ['count' 'mean' 'std' 'min' '25%' '50%' '75%' 'max']

## Question 17: Generate a random number with a value between 0 and the number of rows in df. Set seed to 42 using `np.random.RandomState(42)`. Set the value of the random number equal to the variable pick. Check your neighbor's value.

In [48]:
len(okdata)
#np.random.rand()
np.random.RandomState(42)
    # above. initialized the random number generator with a value of 42
    # then we generate a radnom number.
pick = np.random.randint(len(okdata))
    # randint will use 0 as the low when no specified
    # also randint is EXclusive of the high end, whereas random_integers is inclusive.
print (pick)

12032

## Question 18: What is its data type of the age column of df?

In [49]:
type(okdata['age'])
# The age columns is considered a Series.

pandas.core.series.Series

## Question 19: Using the iloc attribute, choose the row of df present at the value of `pick`.

In [55]:
"""pick was our randomly generated variable form above.
It's within the randof the length of the dataframe. We select that row with iloc,
and get that observation."""
okdata.iloc[pick]

age                                                           27
body_type                                                average
diet                                             mostly anything
drinks                                                  socially
drugs                                                      never
education                      graduated from college/university
essay0         i'm a down to earth guy who enjoys going on ad...
essay1         currently working at a retail store with a ba ...
essay2         listening to people, enjoy conversations, enjo...
essay3                                  i like to talk to people
essay4         shows: the office, breaking bad, simpson, dead...
essay5                 friends, sleep, food, movies, anime, life
essay6                                                       NaN
essay7         hanging out with friends @ a bar or watching a...
essay8                                                       NaN
essay9                                 your interested in dating
ethnicity                                                  asian
height                                                        66
income                                                        -1
job                                  sales / marketing / biz dev
last_online                                     2012-03-24-21-14
location                               san francisco, california
offspring                                                    NaN
orientation                                             straight
pets                                     has dogs and likes cats
religion                                                     NaN
sex                                                            m
sign                                                         NaN
smokes                                                        no
speaks                                        english (fluently)
status                                                    single
Name: 12032, dtype: object

## Question 20: Select the first three rows of df:

In [56]:
okdata.head(3)

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available

## Question 21. using loc command, select the `drinks` column.

In [73]:
okdata.loc[:,['drinks']]
# you have to ask for ALL rows, but only column "drinks". Row selection is before the comma

           drinks
0        socially
1           often
2        socially
3        socially
4        socially
5        socially
6        socially
7        socially
8        socially
9      not at all
10       socially
11       socially
12          often
13       socially
14       socially
15       socially
16       socially
17       socially
18         rarely
19       socially
20       socially
21       socially
22       socially
23     not at all
24       socially
25         rarely
26       socially
27       socially
28       socially
29       socially
...           ...
59916    socially
59917    socially
59918    socially
59919         NaN
59920    socially
59921    socially
59922    socially
59923    socially
59924    socially
59925    socially
59926    socially
59927    socially
59928    socially
59929    socially
59930    socially
59931      rarely
59932    socially
59933    socially
59934    socially
59935    socially
59936    socially
59937    socially
59938         NaN
59939    socially
59940    socially
59941    socially
59942       often
59943  not at all
59944    socially
59945    socially

[59946 rows x 1 columns]

## Question 22: Using iloc, select every other row starting from the first, and the 10th and 22nd column

In [97]:
okdata.iloc[okdata.index % 2 ==0, [9,21]]

,essay3,location
0,"the way i look. i am a six foot half asian, ha...","south san francisco, california"
2,my large jaw and large glasses are the physica...,"san francisco, california"
4,i smile a lot and my inquisitive nature,"san francisco, california"
6,i am the last unicorn,"san francisco, california"
8,i'm freakishly blonde and have the same name a...,"belvedere tiburon, california"
10,my huge goofy smile,"san francisco, california"
12,NaN,"san francisco, california"
14,"well, i get the most compliments on my butt, s...","san leandro, california"
16,"lately, i keep getting asked ""are you with the...","oakland, california"
18,blue eyes and a kind soul... although i don't ...,"san francisco, california"
20,NaN,"san francisco, california"
22,that i'm smiling. pretty much at all times.,"san francisco, california"
24,NaN,"oakland, california"
26,is how hard it is to pin point my ethnicity.,"san francisco, california"
28,depends. i've been told my eyes (isn't this th...,"san francisco, california"
30,NaN,"san francisco, california"
32,i'm guessing my hair,"san leandro, california"
34,NaN,"san francisco, california"
36,my smile.....or my ass :),"san francisco, california"
38,presence.,"walnut creek, california"
40,i wear funny t-shirts (they have funny and/or ...,"menlo park, california"
42,NaN,"berkeley, california"
44,you'll have to tell me,"san francisco, california"
46,NaN,"san francisco, california"
48,my big beautiful lips that will never need col...,"san francisco, california"
50,"my eyes, my sense of humor, my impeccable tast...","oakland, california"
52,"my eyes or maybe my charisma, depending on wha...","san francisco, california"
54,"i couldn't say for sure, but i do get asked ab...","menlo park, california"
56,"i guess physically it would be my eyes, but th...","berkeley, california"
58,how my eyelashes are longer then yours....,"san francisco, california"
...,...,...
59886,i'm outgoing. i try to make people feel at eas...,"oakland, california"
59888,that i'm short &amp; sassy.,"san francisco, california"
59890,my hair and height.. my laugh (because i laugh...,"oakland, california"
59892,curly hair and deep eyes.,"san francisco, california"
59894,that i cross boundaries,"berkeley, california"
59896,NaN,"berkeley, california"
59898,maybe i'll start asking people that.,"san rafael, california"
59900,my smile. and my sass. watch out...,"san francisco, california"
59902,i think right now its probably my hair.. its p...,"hayward, california"
59904,"people usually comment on my long hair, and i'...","san bruno, california"
59906,"my laugh, butt, and expensive shoes, in that o...","san francisco, california"
59908,"my long gypsy-like hair, and my *fake* accent....","san francisco, california"
59910,either my eyebrows or the weird ducktail i get...,"san francisco, california"
59912,usually it's my sleepy eyes. most people think...,"san bruno, california"
59914,my big black and white dog who is usually at m...,"san francisco, california"
59916,my dark hair and eyes,"san francisco, california"
59918,NaN,"san francisco, california"
59920,my eyes. my ambiguous ethnic heritage (mexican...,"san francisco, california"
59922,i have no idea.,"san francisco, california"
59924,i like dancing anywhere and everywhere to song...,"san francisco, california"
59926,my eyes... theyre polka dotted :),"stanford, california"
59928,"tall, friendly and that i have an accent (no i...","berkeley, california"
59930,NaN,"oakland, california"
59932,is the fact i'm fucking tall.<br />\nmaybe my ...,"oakland, california"
59934,i've been told my eyes but also that i smile a...,"oakland, california"
59936,my infectious laugh :),"san francisco, california"
59938,i'm approachable.,"san francisco, california"
59940,my hair? eyes? height? curves? dk....my caring...,"san francisco, california"
59942,"dude, i don't know.","san francisco, california"
59944,it used to be the hair until i mowed it off bu...,"san francisco, california"

## Question 22: How many people are aged 40 and above?

In [102]:
# okdata.loc[okdata['age'] >= 40]
len(okdata.loc[okdata['age'] >= 40])

11359